.modal__body {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  outline: none;
  padding: 64px 40px;
  position: absolute;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  max-width: 400px;
}
