.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  /* image-height + padding-top & padding-bottom + border-bottom of header */
  max-height: calc(30px + 12px + 12px + 1px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  background-color: white;
  border-bottom: 1px solid #dbdbdb;
  z-index: 1;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 900px;
  /* margin: auto; */
}
